.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: url(../src/assets/img/tiktokCopaLive-Back.jpg) top center
    no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Boldonse", system-ui;
  background-attachment: fixed;
}
.logoLive {
  margin-bottom: 40px;
}
.logoSoonContainer {
  display: flex;
  justify-content: center;
}
.logoSoonContainer img {
  max-width: 500px;
  width: 100%;
}
.soonContainer {
  height: calc(100vh-148px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.soonContainer img {
  max-width: 884px;
  width: 100%;
}
h1,
form h1 {
  font-family: "Boldonse", system-ui;
  font-size: 60px;
  line-height: 150%;
  margin-top: 50px;
  margin-bottom: 60px;
  color: #ffffff;
}
label,
form label {
  font-family: "Boldonse", system-ui;
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffffff;
}
input,
form input {
  font-family: "Boldonse", system-ui;
  font-size: 18px !important;
  margin-bottom: 10px;
  color: #ba1558 !important;
}
button,
form button[type="submit"] {
  background: #ff1155;
  font-family: "Boldonse", system-ui;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 37px;
  border: none;
}
button:hover,
form button[type="submit"]:hover {
  background: #ff1155;
  font-family: "Boldonse", system-ui;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 37px;
  border: none;
}
button:focus,
form button[type="submit"]:focus {
  background: #ff1155;
  font-family: "Boldonse", system-ui;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 37px;
  border: none;
}
.text-success,
.text-warning,
.text-warning,
.text-danger {
  color: #ffffff !important;
  font-family: "Boldonse", system-ui;
}
.codeReg {
  margin-top: 50px;
  font-family: "Boldonse", system-ui;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  line-height: 150%;
}
.accessCode {
  margin-top: 15px;
  display: block;
  font-family: "Boldonse", system-ui;
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
  line-height: 150%;
}
.codeLegend {
  font-family: "Boldonse", system-ui;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  line-height: 190%;
}
.tyc {
  font-family: "Boldonse", system-ui;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  line-height: 120%;
}

/* Oculta el banner superior de Google Translate */
.goog-te-banner-frame.skiptranslate,
body > .skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

/* Oculta el badge inferior de Google Translate */
#google_translate_element {
  display: none !important;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}
/* Prevenir traducción de elementos específicos */
.notranslate {
  translate: none;
}
