body {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 320px;
  min-height: 100vh;
  background: url(../src/assets/img/tiktokCopaLive-Back.jpg) top center
    no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.logoLive {
  margin-bottom: 40px;
  margin-top: 40px;
}
.logoSoonContainer {
  display: flex;
  justify-content: center;
}
.logoSoonContainer img {
  max-width: 580px;
  width: 100%;
}
.soonContainer {
  height: calc(100vh-148px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.soonContainer img {
  max-width: 884px;
  width: 100%;
}
